@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
    text-align: justify;
}
.lovee p{
text-align: justify;
}
.lovee h2{
    text-align: center;
    gap: 2rem;
    font-size: 2em ;
    }

    .lovee{
     margin-top: -250px;
        }
.ante a{
    color: #07123F;
    }
    
    .ante{
        width: 130px;
        padding: 10px;
        margin: 10px 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 80px;
    }
.ittem {
    width: 1348px;


}

#bann {
    width: 1348px;
    min-height: 130px;
    margin-top: -16.6%;
}

.header {
    background: white;
    min-height: 140vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+92 */
background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.logo {
    max-width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    transition: filter 0.3s ease-in;
}

.logo:hover {
    filter: blur(3px);

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #a5c956;
}

.socials img {
    width: 37px;
    margin-right: 15px;
}


.socials img:hover {
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.footer {
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+92 */
background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.footer__title {
    width: 300px;
    margin-bottom: 30px;
    margin-top: 5%;
    margin-left: 5%;

}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}


.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
    margin-right: 10px;
}


.footer__img {
    width: 50px;
}


#containt {
    max-width: 1200px;
    min-height: 900px;
    margin: 0 auto;
   
    margin-top: -2%;
  
}

#containt img:hover{
  
    animation: rotate 1s ease-in-out;
}

   @keyframes rotate{
      from {
       transform: rotate(0deg);
      }
      to{
       transform: rotate(360deg);
      }
   }

.footer__img {
    width: 50px;  
    transition: transform 0.5s ease; 
}

 
 @keyframes transform {
     0%, 100%{
         transform: translateY(0);
     }
     50%{
         transform: translateY(-30px);
     }
 }
 
 .footer__img:hover{
  animation: transform 0.6s ease-out ;
 }

.face {
    margin-top: 25px;
    max-width: 80px;
    min-height: 80px;
    margin-left: 50px;
}

.potaxio {
    max-width: 80px;
    min-height: 80px;
    margin-left: 50px;
}

.insta {
    max-width: 80px;
    min-height: 80px;
    margin-left: 50px;
}


#containt p {
    margin-top: 25px;
    font-family: cursive;
    font-size: 20px;
}
#containt ul{
    margin-top: 25px;
    font-family: cursive;
    font-size: 20px;
}


.lope {
margin-left: 70px;
margin-top: -30px;


}
.afili {
    height: 250px;
    width: 250px;
    margin-left: 160px;
    margin-top: 140px;
    
}
p {
    font-size: 25px;
}
.love{
margin-top: -200px;
margin-left: 550px;
}
.Traspaso1 {
height: 200px;
    width: 200px;
   margin-left: 900px;
margin-top: 100px;
}
.traspaso {
margin-top: -190px;
margin-left: 300px;
margin-right: 400px;
}
.Recaudo1 {
height: 230px;
width: 230px;
margin-top: 150px;
margin-left: 160px;

}
.Recaudo{
margin-top: -230px;
margin-left: 500px;
padding: 0px 0px 30px 0px;
}